.Terms{
    padding: 20px;
    font-family: "Segoe UI";
    letter-spacing: 1px;
    background-color: whitesmoke;
}
.Terms > h2{
    margin-bottom: 32px;
}
.Terms > p{
    margin-bottom: 12px;
}

@media (max-width: 500px) {
    .Terms{
        padding: 8px;
    }
}