.Navigation{
    padding: 14px 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 8px #DDD;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.NavigationItems{
    display: flex;
    margin-right: 6px;
    animation: fade-in 0.7s ease-in-out;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
}

.NavigationItems > h4 {
    margin-right: 18px;
    animation: fade-in 0.7s ease-in-out;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
}

@keyframes fade-in {
    0% {opacity:0 ; }
    100% {opacity:1 ;}
}