.HomePage{

}
.HomePageDiv{
    height: 450px;
    text-align: left;
    background-color: rgba(200,200,200,0.3);
    font-family: "Segoe UI";
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.HomePageDiv > h1{
    display: inline-block;
    font-size: 50px;
    letter-spacing: 1px;
    color: black;
    animation: float-top 0.7s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.HomePageDiv > h2 {
    display: inline-block;
    font-weight: normal;
    margin-top: 12px;
    color: #5c5b5b;
    margin-bottom: 15px;
    animation: float-top 0.7s ease-in-out;
    animation-delay: 1.3s;
    animation-fill-mode: backwards;
}

.HomePageDiv > button {
    display: inline-block;
    margin-top: 20px;
    animation: fade-in 0.7s ease-in-out;
    animation-delay: 1.7s;
    animation-fill-mode: backwards;
}

@keyframes float-top {
    0% {opacity:0 ; transform: translateY(10px)}
    100% {opacity:1 ;transform: translateY(0)}
}

@keyframes fade-in {
    0% {opacity:0 ; }
    100% {opacity:1 ;}
}